@media (max-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
  }
  #menuIcon {
    display: block;
    font-size: 30px;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    left: -70%;
    top: 0;
    background-color: #0000006d;
    color: white;
    height: 100vh;
    width: 70%;
    backdrop-filter: blur(10px);
  }
  .navlinks a {
    font-size: 24px;
    color: white;
  }

  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .user-profile i {
    font-size: 30px;
    position: relative;
    padding-bottom: 6px;
  }
  .mobile-logo img {
    display: block;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    position: relative;
    top: 10px;
  }
  #navClose i {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
  }
  #navClose:active {
    color: red;
  }
}
