@media (max-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: #0000006d 1px solid;
    background-color: white;
    box-shadow: 0 0 2px 2px gray;
  }
  #menuIcon {
    display: block;
    font-size: 30px;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    left: -70%;
    top: 0;
    background-color: #0000006d;
    color: white;
    height: 100vh;
    width: 70%;
    backdrop-filter: blur(10px);
  }
  .navlinks a {
    font-size: 24px;
    color: white;
  }

  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .user-profile i {
    font-size: 30px;
    position: relative;
    padding-bottom: 6px;
  }
  .mobile-logo img {
    display: block;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    position: relative;
    top: 10px;
  }
  #navClose i {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
  }
  #navClose:active {
    color: red;
  }
  /* Hero section */
  .hero-section {
    width: 100%;
    margin: 0;
    margin-top: 50px;
    border-radius: 0px;
    padding: 20px;
  }
  .hero-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .hero-slide.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 20px;
  }
  .hero-content {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-content h1 {
    font-family: "Leckerli One", cursive;
    font-size: 32px;
    font-style: italic;
  }
  .hero-img img {
    width: 320px;
    height: 300px;
  }
  .hero-content p {
    font-size: 18px;
    line-height: 25px;
  }
  .scroll-btn i {
    font-size: 32px;
  }
  /* About section styling */
  .section-about {
    width: 100%;
  }
  .section-heading {
    margin: 20px 0;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
  }
  .about-img img {
    width: 100%;
  }

  .about-content h2 {
    font-size: 34px;
    margin-bottom: 18px;
    margin-top: 15px;
  }
  .about-content p {
    max-width: 550px;
    line-height: 30px;
    font-size: 18px;
  }
  .about-icons {
    margin: 15px 0;
    margin-right: 0px;
  }
  .about-content button {
    margin-right: 0px;
    padding: 20px 40px;
    margin-top: 12px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .eshop-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
  .social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 350px;
    height: 100px;
    box-shadow: 0 0 5px 2px gray;
  }
  .social-box i {
    font-size: 45px;
    color: red;
  }
  .social-box h3 {
    font-size: 23px;
  }
  .social-box p {
    font-size: 16px;
    opacity: 0.7;
  }
  .advertisement {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .adsection {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .adsection img {
    width: 100%;
    height: 500px;
  }
  .adsection .ad-info {
    position: absolute;
    top: 25%;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
}
