@media (min-width: 320px) and (max-width: 600px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
  }
  #menuIcon {
    display: block;
    font-size: 30px;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0000006d;
    color: white;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
  }
  .navlinks a {
    font-size: 24px;
    color: white;
  }
  .navlinks.show {
    display: none;
  }
  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .user-profile i {
    font-size: 30px;
    position: relative;
    padding-bottom: 6px;
  }
}
