@media (min-width: 320px) and (max-width: 600px) {
  #menuicon {
    display: block;
    font-size: 30px;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    height: 60px;
    padding: 5px 30px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: black;
    padding-left: 20px;
  }

  /* To show hide navbar */
  .nav-links.show {
    display: none;
  }
  .nav-links a {
    color: white;
    font-size: 21px;
    width: 100%;
    padding: 12px;
  }
  .nav-links a:hover {
    background-color: green;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .user-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 170px;
    margin-top: 20px;
  }
  .login-btn {
    padding: 8px 50px;
    background-color: transparent;
    border: 1px solid #4203fd;
    font-size: 17px;
    border-radius: 5px;
    color: white;
    transition: color 0.5s;
    margin-left: 50px;
  }
}
