* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* Navbar styling */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.logo h1 span {
  color: red;
  text-shadow: 3px 3px 8px red;
}
.logo h1:hover span {
  color: blue;
  text-shadow: 6px 6px 12px #0000ff6e;
}
.logo h1 {
  color: blueviolet;
  text-shadow: 3px 3px 8px blueviolet;
}
.logo h1:hover {
  transition: color 0.6s;
  color: aqua;
  text-shadow: 6px 6px 12px #00ffff6e;
  -webkit-transition: color 0.6s;
  -moz-transition: color 0.6s;
  -ms-transition: color 0.6s;
  -o-transition: color 0.6s;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#menuicon {
  display: none;
}
.nav-links a {
  color: black;
  font-size: 21px;
  padding: 8px 15px;
}
.nav-links a:hover {
  background-color: green;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.user-box i {
  font-size: 22px;
}
.count-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-bg:hover {
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
  border-width: 2px;
}
.count-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  right: 10px;
  top: 5px;
  color: white;
}
#heart {
  color: deeppink;
  text-shadow: 3px 3px 8px deeppink;
}

#themeBtn {
  color: gold;
  text-shadow: 3px 3px 8px gold;
}
#themeBtn:hover {
  color: yellow;
  text-shadow: 6px 6px 12px #ffff00a6;
}
.login-btn {
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid #4203fd;
  font-size: 17px;
  border-radius: 5px;
  transition: color 0.5s;
}
.login-btn:hover {
  background-color: #6f03fd;
  color: white;
}
